#content {
    display: flex;
    row-gap: 5rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

#filter ul {
    list-style: none;
    display: flex;
}

#filter ul li {
    display: inline-flex;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-color: #dfdfdf;
}

#filter ul li:hover {
    border-color: #b5b5b5;
}

.active {
    background-color: var(--accent-color);
}

#filter ul li a {
    padding: 0.75em;
}

#filter ul li:first-child {
    border-bottom-left-radius: 290486px;
    border-top-left-radius: 290486px;
}

#filter ul li:last-child {
    border-top-right-radius: 290486px;
    border-bottom-right-radius: 290486px;
}

#filter ul li:last-child a {
    padding-right: 1.25em;
}

#filter ul li:first-child a {
    padding-left: 1.25em;
}

#page-links {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    column-gap: 1rem;
    color: var(--tag-color);
}

#page-links a:hover {
    color: #363636;
}

.card {
    width: 50%;
    max-width: 660px;
    border-style: solid;
    border-color: #dfdfdf;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.card-content {
    font-size: 20px;
    line-height: 24px;
    padding: 24px 24px 24px 24px;
}

.title {
    font-weight: 700;
}

.desc {
    margin-bottom: 1.5rem;
}

.tags {
    color: var(--tag-color);
    font-size: 16px;
    text-align: right;
}

.tag-link:hover {
    color: #363636;
}

.card-footer {
    display: flex;
    justify-content: center;
    padding: 12px 12px 12px 12px;
    background-color: var(--accent-color);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-footer button {
    display: flex;
    column-gap: 5px;
    color: var(--tag-color); 
}

@media only screen and (max-width: 800px) {
    .card {
        width: 90%;
        max-width: none;
    }
}