{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
{% endblock %}
{% block title %}What To Code{% endblock %}

{% block content %}
<div id="content">
    <div id="filter">
        <ul>
            <li class="{{'item active' if order == 'POPULAR' else 'item'}}"><a href="{{ url_for('views.home', order='POPULAR')}}">Popular</a></li>
            <li class="{{'item active' if order == 'RISING' else 'item'}}"><a href="{{ url_for('views.home', order='RISING')}}">Rising</a></li>
            <li class="{{'item active' if order == 'RECENT' else 'item'}}"><a href="{{ url_for('views.home', order='RECENT')}}">Recent</a></li>
            <li class="{{'item active' if order == 'OLDEST' else 'item'}}"><a href="{{ url_for('views.home', order='OLDEST')}}">Oldest</a></li>
        </ul>
    </div>
    {% if not one %}
        {% for post in posts.items %}
            <div class="card">
                <div class="card-content">
                    <p class="title">{{ post.title }}</p>
                    <p class="desc">{{ post.desc }}</p>
                    <p class="tags">
                        {% for tag in post.tags %} 
                            <a class="tag-link" href="{{url_for('views.home', tag=tag.name)}}">#{{tag.name}}</a>
                        {% endfor %}
                    </p>
                </div>
                <footer class="card-footer">
                    <button type="button" onclick="like({{post.id}})">
                        <p id="likes-count-{{post.id}}">{{ post.likes }}</p>
                        {% if post.id in likes %}
                            <i id="like-button-{{post.id}}" class="fas fa-thumbs-up"></i>
                        {% else %}
                            <i id="like-button-{{post.id}}" class="far fa-thumbs-up"></i>
                        {% endif %}
                    </button>
                </footer>
            </div>
        {% endfor %}
    {% else %}
        {% for post in posts %}
            <div class="card">
                <div class="card-content">
                    <p class="title">{{ post.title }}</p>
                    <p class="desc">{{ post.desc }}</p>
                    <p class="tags">
                        {% for tag in post.tags %} 
                            <a class="tag-link" href="{{url_for('views.home', tag=tag.name)}}">#{{tag.name}}</a>
                        {% endfor %}
                    </p>
                </div>
                <footer class="card-footer">
                    <button type="button" onclick="like({{post.id}})">
                        <p id="likes-count-{{post.id}}">{{ post.likes }}</p>
                        {% if post.id in likes %}
                            <i id="like-button-{{post.id}}" class="fas fa-thumbs-up"></i>
                        {% else %}
                            <i id="like-button-{{post.id}}" class="far fa-thumbs-up"></i>
                        {% endif %}
                    </button>
                </footer>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div id="page-links">
    {% if not one %}
        {% for page_num in posts.iter_pages() %}
            {% if page_num %}
                <a href="{{ url_for('views.home', page=page_num, order=order, tag=tag) }}">{{ page_num }}</a>
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}